# ------------------------
# Secrets
# ------------------------
credentials/

# ------------------------
# Python
# ------------------------
__pycache__/
*.pyc

# ------------------------
# Virtual Environments
# ------------------------
venv/
.venv/

# ------------------------
# OS Files
# ------------------------
Thumbs.db
.DS_Store