# ------------------------
# Secrets
# ------------------------
credentials/

# ------------------------
# Database
# ------------------------
database/*.db
!database/.gitkeep


# ------------------------
# Python
# ------------------------
__pycache__/
*.pyc

# ------------------------
# Virtual Environments
# ------------------------
venv/
.venv/

# ------------------------
# OS Files
# ------------------------
Thumbs.db
.DS_Store
# Local secrets and generated archives
.env
*.env
*.zip
__pycache__/
*.py[cod]
